extends ../layout
block container
    form(role="form")
        legend.btn-toolbar
            button.btn.btn-link(type="submit")
                span.glyphicon.glyphicon-floppy-disk &nbsp;Gem
            button.btn.btn-link(type="reset")
                span.glyphicon.glyphicon-remove &nbsp;Annuller
            button.btn.btn-link(type="button")
                span.glyphicon.glyphicon-eye-open &nbsp;Oversigt
        fieldset.col-lg-6
            div.col-lg-6.form-group
                label.control-label(for="firstName") Fornavn
                input.form-control(type="text", name="firstName", placeholder="Fornavn", required="required",)
            div.col-lg-6.form-group
                label.control-label(for="lastName") Efternavn
                input.form-control(type="text", name="lastName", placeholder="Efternavn", required="required")
            div.col-lg-3.form-group
                label.control-label(for="ssn") CPR-nummer
                input.form-control(type="text", name="ssn", placeholder="CPR-nummer", required="required")
            div.col-lg-3.form-group
                label.control-label(for="salaryGroupNumber") Løngruppenummer
                input.form-control(type="number", name="salaryGroupNumber", min="0", placeholder="Løngruppenummer", required="required")
            div.col-lg-3.form-group
                label.control-label(for="auid") AU-ID
                input.form-control(type="text", name="auid", min="0", placeholder="AU-ID", required="required")
            div.col-lg-3.form-group
                label.control-label(for="fraDato") Fra dato
                input.form-control(type="date", name="fraDato", placeholder="Fra dato", required="required")
            div.col-lg-4.form-group
                label.control-label(for="primaryEmail") Primær e-mail
                input.form-control(type="email", name="primaryEmail", placeholder="Primær e-mail")
            div.col-lg-4.form-group
                label.control-label(for="personalEmail") Privat e-mail
                input.form-control(type="email", name="personalEmail", placeholder="Privat e-mail")
            div.col-lg-4.form-group
                label.control-label(for="telephoneNumber") Telefonnummer
                input.form-control(type="tel", name="telephoneNumber", placeholder="Telefonnummer")
            div.col-lg-12.form-group
                label.control-label(for="roller") Roller
                select.form-control(id="roller", name="roller", placeholder="Vælg roller", multiple="multiple")
                    option(value="Timelønnede") Timelønnede
                    option(value="Sekretær") Sekretær
                    option(value="Finansmedarbejder") Finansmedarbejder
                    option(value="Administrator") Administrator
            div.col-lg-12.form-group#enheder-progress
                div.progress.progress-striped.active
                    div.progress-bar(role="progressbar", aria-valuenow="100", aria-valuemin="0" aria-valuemax="100", style="width: 100%")
                        span.sr-only 100%
            div.col-lg-12.form-group
                label.control-label(for="enheder") Enheder
                select.form-control(id="enheder", name="enheder", placeholder="Vælg enheder", multiple="multiple")
            div.col-lg-12.form-group
                footer.btn-group.btn-group-justified

        fieldset.col-lg-6
            div.form-group.col-lg-12
                label(for="jobCategory") Jobkategori
                select.form-control.select2(id="jobCategoryConfig", name="jobCategory", data-placeholder="Vælg konfiguration")
                    option
                    each jobCategoryConfig in jobCategoryConfigs
                        option(value=jobCategoryConfig.uuid)= jobCategoryConfig.stilling
            div.form-group.col-lg-12
                label(for="pkat") PKAT
                select.form-control(id="pkat", name="pkat", data-placeholder="Vælg PKAT")
            div.form-group.col-lg-12#config
                table.table
                    thead
                        tr
                            td(colspan=2)
                                a#jobCategory(href="javascript:void(0)") Vis konfiguration
                    tbody
                        tr
                            th LKO
                            td#lko
                        tr
                            th STIKO
                            td#stiko
                        tr
                            th Stilling
                            td#stilling
                        tr
                            th Lønform
                            td#salaryForm
                        tr
                            th Lønklasse
                            td#salaryClass
                        tr
                            th Lønanvisning
                            td#salaryLevel
block scripts
    script.
        $(function () {
            var touch = Modernizr.touch;
            if (!touch) {
                $("#jobCategoryConfig, #roller, #enheder, #pkat").select2();
            }
            $("#config, #enheder-progress").hide();
            $("#enheder, #pkat").parent().hide();
            $("#jobCategoryConfig").on("change", function (obj) {
                var value = obj.val || this.value;
                $.get("/medarbejder/config/" + value, function(data) {
                    var $pkat = $("#pkat"),
                        pkats = data.pkats || [],
                        first = pkats[0] || {};
                    pkats.forEach(function (item) {
                        $pkat.append($("<option></option>").attr("value", item.id).text(item.text));
                    });
                    touch ? $pkat.val(first.id) : $pkat.select2("val", first.id);
                    document.getElementById("lko").innerHTML = data.lko;
                    document.getElementById("stiko").innerHTML = data.stiko;
                    document.getElementById("stilling").innerHTML = data.stilling;
                    document.getElementById("salaryForm").innerHTML = data.salaryForm;
                    document.getElementById("salaryClass").innerHTML = data.salaryClass;
                    document.getElementById("salaryLevel").innerHTML = data.salaryLevel;
                    document.getElementById("jobCategory").href = "/job-category-config/" + value;
                    $("#config").show();
                    $pkat.parent().show();
                });
            });
            $("#roller").on("change", function (obj) {
                var values = obj.val || $(this).val() || [],
                    enheder = document.getElementById("enheder");
                if (values.indexOf("Sekretær") > -1 || values.indexOf("Finansmedarbejder") > -1) {
                    var options = enheder.options;
                    if (!options || (options && !options.length)) {
                        $("#enheder-progress").show();
                        $.get("/medarbejder/organisations", function (data) {
                            data.forEach(function (d) {
                                $(enheder).append($("<option></option>").attr("value", d.id).text(d.text));
                            });
                            $("#enheder-progress").hide();
                        });
                    }
                    $(enheder).parent().show();
                } else {
                    $(enheder).parent().hide();
                }
            });
        });