doctype html
html(lang="dk")
    head
        title= title
        link(rel="icon", href="/favicon.ico")
        link(rel="stylesheet", href="/bootstrap.min.css")
        link(rel="stylesheet", href="/bootstrap-custom.css")
        block links
    body
        block body