extends layout
block container
    section.col-lg-4
        div.panel.panel-success
            div.panel-body.text-center
                h1
                    a(href="/registrering")
                        span.glyphicon.glyphicon-ok
                        |&nbsp;
                        =success
    section.col-lg-4
        div.panel.panel-info
            div.panel-body.text-center
                h1
                    a(href="/registrering")
                        span.glyphicon.glyphicon-question-sign
                        |&nbsp;
                        =info
    section.col-lg-4
        div.panel.panel-danger
            div.panel-body.text-center
                h1
                    a(href="/registrering")
                        span.glyphicon.glyphicon-remove
                        |&nbsp;
                        =danger