extends layout
block container
    unless employee
        article.row
            form.form-inline(role="form", name="search", action="/employee", method="post")
                div.form-group
                    div.input-group.input-group-lg
                        input.form-control(type="text", name="q")
                        span.input-group-btn
                            button.btn.btn-primary(type="submit")
                                span.glyphicon.glyphicon-search &nbsp;Search
                            a.btn.btn-success(type="button", href="/employee/new")
                                span.glyphicon.glyphicon-plus &nbsp;Create
    if employees
        article.row
            section.page-header
                h1= employees.length
                    small &nbsp;results
            ul.list-unstyled
                - each employee in employees
                    li
                        - var href = "/employee/" + employee.ssn
                        - var name = employee.name + " (" + employee.ssn + ")"
                        a.btn.btn-link.btn-lg(href=href)= name
    if employee
        section.page-header
            h1 {{ employee.name() }}
        form(name="employeeForm", role="form")
            fieldset.col-lg-6
                div.col-lg-6.form-group(ng-class="{ 'has-success': employeeForm.firstName.$valid, 'has-error': employeeForm.firstName.$dirty && employeeForm.firstName.$invalid }")
                    label.control-label(for="firstName") First name
                    input.form-control(type="text", name="firstName", placeholder="First name", ng-required="true", ng-model="employee.firstName")
                div.col-lg-6.form-group(ng-class="{ 'has-success': employeeForm.lastName.$valid, 'has-error': employeeForm.lastName.$dirty && employeeForm.lastName.$invalid }")
                    label.control-label(for="lastName") Last name
                    input.form-control(type="text", name="lastName", placeholder="Last name", ng-required="true", ng-model="employee.lastName")
                div.col-lg-3.form-group(ng-class="{ 'has-success': employeeForm.ssn.$valid, 'has-error': employeeForm.ssn.$dirty && employeeForm.ssn.$invalid }")
                    label.control-label(for="ssn") SSN
                    input.form-control(type="text", name="ssn", placeholder="SSN", ng-required="true", ng-model="employee.ssn")
                div.col-lg-3.form-group(ng-class="{ 'has-success': employeeForm.salaryGroupNumber.$valid, 'has-error': employeeForm.salaryGroupNumber.$dirty && employeeForm.salaryGroupNumber.$invalid }")
                    label.control-label(for="salaryGroupNumber") Salary group #
                    input.form-control(type="number", name="salaryGroupNumber", min="0", placeholder="Salary group number", ng-required="true", ng-model="employee.salaryGroupNumber")
                div.row
                div.col-lg-4.form-group(ng-class="{ 'has-error': employeeForm.primaryEmail.$invalid }")
                    label.control-label(for="primaryEmail") Primary email
                    input.form-control(type="email", name="primaryEmail", placeholder="Primary email", ng-model="employee.primaryEmail")
                div.col-lg-4.form-group(ng-class="{ 'has-error': employeeForm.personalEmail.$invalid }")
                    label.control-label(for="personalEmail") Personal email
                    input.form-control(type="email", name="personalEmail", placeholder="Personal email", ng-model="employee.personalEmail")
                div.col-lg-4.form-group(ng-class="{ 'has-error': employeeForm.telephoneNumber.$invalid }")
                    label.control-label(for="telephoneNumber") Telephone number
                    input.form-control(type="tel", name="telephoneNumber", placeholder="Telephone number", ng-model="employee.telephoneNumber")
                hr
                footer.btn-group.btn-group-justified
                    section.btn-group
                        button.btn.btn-success(type="submit", ng-disabled="employeeForm.$invalid") Save
                    section.btn-group
                        button.btn.btn-warning(type="reset") Cancel
                    section.btn-group
                        button.btn.btn-default(type="button", ng-click="getHistory()") History
            fieldset.col-lg-3(ng-if="!employee.ssn")
                div.form-group.col-lg-12
                    label(for="jobCategory") Job category
                    select.form-control(name="jobCategory")
                div.form-group.col-lg-6
                    label(for="validFrom") Valid from
                    input.form-control(type="date", ng-model="employee.jobCategory.validFrom")
                div.form-group.col-lg-6
                    label(for="validTo") Valid to
                    input.form-control(type="date", ng-model="employee.jobCategory.validTo")
                div.form-group.col-lg-12
                    label(for="pkat") PKAT
                    select.form-control(name="pkat")
                div.form-group.col-lg-6
                    label(for="salaryNumber") Salary number
                    p.form-control-static 000
            fieldset.col-lg-3(ng-if="!employee.ssn")
                div.form-group.col-lg-12
                    label(for="organisation") Organisation
                    select.form-control(name="organisation")
                div.form-group.col-lg-6
                    label(for="validFrom") Valid from
                    input.form-control(type="date", ng-model="employee.organisation.validFrom")
                div.form-group.col-lg-6
                    label(for="validTo") Valid to
                    input.form-control(type="date", ng-model="employee.organisation.validTo")
                div.form-group.col-lg-12
                    label(for="location") Location
                    select.form-control(name="pkat", ng-model="employee.organisation.location")
                div.form-group.col-lg-12
                    label(for="account") Account
                    select.form-control(name="account", ng-model="employee.organisation.account")
                div.form-group.col-lg-12
                    label(for="project") Project
                    select.form-control(name="project", ng-model="employee.organisation.project")
                div.form-group.col-lg-12
                    label(for="activity") Activity
                    select.form-control(name="activity", ng-model="employee.organisation.activity")
        fieldset.form-horizontal.col-lg-6(ng-if="employee.ssn")
            div.page-header
                span.pull-right.glyphicon.glyphicon-pencil
                h3 01.01.2013 - 01.01.2014
            div.form-group
                label.control-label.col-lg-4 Job category configuration
                div.col-lg-8
                    p.form-control-static Sample job category config
            div.form-group
                label.control-label.col-lg-4 PKAT
                div.col-lg-8
                    p.form-control-static 27 Efterindtægt
            div.form-group
                label.control-label.col-lg-4(for="salaryNumber") Salary number
                div.col-lg-8
                    input.form-control(type="text", name="salaryNumber", value="000")
            div.col-lg-8.col-lg-offset-4
                div.page-header
                    h5 01.01.2013 - 01.01.2014
                div.form-group
                    label.control-label.col-lg-4 Organisation
                    div.col-lg-8
                        p.form-control-static Sample organisation
                div.form-group
                    label.control-label.col-lg-4(for="location") Location
                    div.col-lg-8
                        p.form-control-static Location 1
                div.form-group
                    label.control-label.col-lg-4(for="account") Account
                    div.col-lg-8
                        p.form-control-static Account 1
                div.form-group
                    label.control-label.col-lg-4(for="project") Project
                    div.col-lg-8
                        p.form-control-static Project 1
                div.form-group
                    label.control-label.col-lg-4(for="activity") Activity
                    div.col-lg-8
                        p.form-control-static Activity 1
            div.page-header
                span.pull-right.glyphicon.glyphicon-pencil
                h3 01.01.2014 - 01.05.2014
            div.form-group
                label.control-label.col-lg-4 Job category configuration
                div.col-lg-8
                    p.form-control-static New job category config
            div.form-group
                label.control-label.col-lg-4 PKAT
                div.col-lg-8
                    p.form-control-static 28 Mejeriingeniører
            div.form-group
                label.control-label.col-lg-4(for="salaryNumber") Salary number
                div.col-lg-8
                    input.form-control(type="text", name="salaryNumber", value="001")
            div.col-lg-8.col-lg-offset-4
                div.page-header
                    h5 01.01.2014 - 01.03.2014
                div.form-group
                    label.control-label.col-lg-4 Organisation
                    div.col-lg-8
                        p.form-control-static Sample organisation
                div.form-group
                    label.control-label.col-lg-4(for="location") Location
                    div.col-lg-8
                        p.form-control-static Location 2
                div.form-group
                    label.control-label.col-lg-4(for="account") Account
                    div.col-lg-8
                        p.form-control-static Account 2
                div.form-group
                    label.control-label.col-lg-4(for="project") Project
                    div.col-lg-8
                        p.form-control-static Project 2
                div.form-group
                    label.control-label.col-lg-4(for="activity") Activity
                    div.col-lg-8
                        p.form-control-static Activity 2
                div.page-header
                    h5 01.03.2014 - 01.05.2014
                    div.form-group
                        label.control-label.col-lg-4 Organisation
                        div.col-lg-8
                            p.form-control-static Sample organisation
                    div.form-group
                        label.control-label.col-lg-4(for="location") Location
                        div.col-lg-8
                            p.form-control-static Location 3
                    div.form-group
                        label.control-label.col-lg-4(for="account") Account
                        div.col-lg-8
                            p.form-control-static Account 3
                    div.form-group
                        label.control-label.col-lg-4(for="project") Project
                        div.col-lg-8
                            p.form-control-static Project 3
                    div.form-group
                        label.control-label.col-lg-4(for="activity") Activity
                        div.col-lg-8
                            p.form-control-static Activity 3
if employee
    block scripts
        script(src="/app/employee/application.js")
        script(src="/app/employee/controller.js")
unless employee
    block scripts
        script.
            angular.module('app', []).controller('ctrl', function() { });