extends _layout
block links
    link(rel="stylesheet", href="/select2/select2.css")
    link(rel="stylesheet", href="/select2-bootstrap-css/select2-bootstrap.css")
    link(rel="stylesheet", href="/css/datepicker.css")
    style.
        .container {
            width: 98%;
        }
block body
        header
            nav.navbar.navbar-inverse(role="navigation")
                div.container
                    header.navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="/") Aarhus
                    nav.navbar-collapse.collapse.navbar-inverse-collapse
                        ul.nav.navbar-nav
                            each route in routes
                                li(class=title == route.name ? "active" : "")
                                    a(href=route.href) #{route.name}
                        ul.nav.navbar-nav.navbar-right
                            if user
                                li
                                    p.navbar-text= user.navn
                            li
                                a.navbar-link(href="/logaf")
                                    span.glyphicon.glyphicon-off
                                    |&nbsp;Log af
        section.container
            block container
        script(src="/modernizr/modernizr.js")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(src="/select2/select2.min.js")
        script(src="/knockout/dist/knockout.js")
        script(src="/knockout-mapping/knockout.mapping.js")
        script(src="/underscore/underscore.js")
        script(src="/js/bootstrap-datepicker.js")
        script(src="/js/locales/bootstrap-datepicker.da.js")
        block scripts