doctype html
html(lang="dk")
    head
        title
        link(href='/bootstrap.min.css', rel='stylesheet')
        link(href='/bootstrap-custom.css', rel='stylesheet')
        link(href='/select2/select2.css', rel='stylesheet')
        //link(href='/select2/select2-bootstrap.css', rel='stylesheet')
        link(href='/select2-bootstrap-css/select2-bootstrap.css', rel='stylesheet')
        style.
            .container {
                width: 98%;
            }
    body
        header
            nav.navbar.navbar-inverse(role="navigation")
                div(container)
                    header.navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="/") Aarhus
                    nav.navbar-collapse.collapse.navbar-inverse-collapse
                        ul.nav.navbar-nav
                            li
                                a(href="/job-category-config") Jobkategori konfiguration
                            li
                                a(href="/employee") Medarbejder
        section.container
            block container
        script(src='/modernizr/modernizr.js')
        script(src='/jquery/dist/jquery.min.js')
        script(src='/select2/select2.min.js')
        block scripts
        script.
            if (!Modernizr.touch) {
                $(function() {
                    $(".select2").select2({ allowClear: true });
                });
            }