extends _layout
block links
    link(rel="stylesheet", href="//cdn.jsdelivr.net/select2/3.4.8/select2.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/select2/3.4.8/select2-bootstrap.css")
block body
        header
            nav.navbar.navbar-inverse(role="navigation")
                div.container
                    header.navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="/") Aarhus
                    nav.navbar-collapse.collapse.navbar-inverse-collapse
                        ul.nav.navbar-nav
                            each route in routes
                                li(class=title == route.name ? "active" : "")
                                    a(href=route.href) #{route.name}
                        ul.nav.navbar-nav.navbar-right
                            if user
                                li
                                    p.navbar-text= user.navn
                            li
                                a.navbar-link(href="/logaf")
                                    span.glyphicon.glyphicon-off
                                    |&nbsp;Log af
        section.container
            block container
        script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js")
        script(src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js")
        script(src="//cdn.jsdelivr.net/select2/3.4.8/select2_locale_da.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js")
        block scripts