extends ../layout
block container
    - var lg = "col-lg-" + (12 / count)
    - var md = "col-md-" + (12 / count)
    - var sm = "col-sm-" + (12 / count)
    - var xs = "col-xs-" + (12 / count)
    - var cls = Array.prototype.join.call([lg, md, sm, xs], " ")
    ul.nav.nav-pills.nav-justified
        if (user.roller.indexOf("Timelønnede") > -1)
            li
                a(href="/registrering/lock/0") Fortsæt som timelønnede
        if (user.roller.indexOf("Sekretær") > -1)
            li
                a(href="/registrering/lock/1") Fortsæt som sekretær
        if (user.roller.indexOf("økonom") > -1)
            li
                a(href="/registrering/lock/2") Fortsæt som økonom