extends ../layout
block container
    aside.col-lg-3.col-md-3.col-sm-3
        article.panel.panel-default
            header.panel-heading
                | Skabeloner
                span.pull-right.badge(data-bind="text: skabeloner.length")
            div.list-group(data-bind="foreach: skabeloner")
                a.list-group-item(href="javascript:void()", data-bind="text: RowKey")
        article.panel.panel-default
            header.panel-heading
                | Kladder
                span.pull-right.badge(data-bind="text: kladder.length")
            div.list-group(data-bind="foreach: kladder")
                a.list-group-item(href="javascript:void()", data-bind="text: kladde.oprettet")
    form.form-horizontal(role="form", method="post")
        fieldset.col-lg-9.col-md-9.col-sm-9
            div.form-group
                label.control-label.col-lg-3(for="dato") Dato
                div.col-lg-2
                    input.form-control(name="dato", type="date", placeholder="Dato")
            div.form-group
                label.control-label.col-lg-3(for="jobkategori") Jobkategori
                div.col-lg-6
                    select.form-control(name="jobkategorikode", value=jobkategori, placeholder="Vælg jobkategori", data-bind="value: jobkategorikode, options: jobkategorier, optionsText: 'stilling', optionsValue: 'uuid'")
                        option
                    input(type="hidden", name="jobkategorinavn", data-bind="value: jobkategorinavn", value=jobkategorinavn)
            div.form-group
                label.control-label.col-lg-3(for="enhed") Enhed
                div.col-lg-6
                    select.form-control(name="enhedkode", placeholder="Vælg enhed", value=enhedkode, data-bind="value: enhedkode, disabled: !enheder.length, options: enheder, optionsText: 'navn', optionsValue: 'kode'")
                        option
                    input(type="hidden", name="enhednavn", data-bind="value: enhednavn", value=enhednavn)
            div.form-group
                label.control-label.col-lg-3(for="projekt") Projekt
                div.col-lg-6
                    select.form-control(name="projektkode", placeholder="Vælg projekt", disabled=!projekter, data-bind="value: projektkode, disabled: !projekter.length, options: projekter, optionsText: 'navn', optionsValue: 'kode'")
                        option
                    input(type="hidden", name="projektnavn", data-bind="value: projektnavn")
            div.form-group
                label.control-label.col-lg-3(for="aktivitet") Aktivitet
                div.col-lg-6
                    select.form-control(name="aktivitetkode", placeholder="Vælg aktivitet", disabled=!aktiviteter, data-bind="value: aktivitetkode, disabled; !aktiviteter.length, options: aktiviteter, optionsText: 'navn', optionsValue: 'kode'")
                        option
                    input(type="hidden", name="aktivitetnavn", data-bind="value: aktivitetnavn")
            div.form-group
                label.control-label.col-lg-3(for="lko") Lønkode
                div.col-lg-6
                    select.form-control(name="lkokode", placeholder="Vælg lønkode", disabled=!lkos, data-bind="value: lkokode, disabled: !lkos.length, options: lkos, optionsText: 'navn', optionsValue: 'kode'")
                        option
                    input(type="hidden", name="lkonavn", data-bind="value: lkonavn")
            div.form-group
                label.control-label.col-lg-3(for="sted") Sted
                div.col-lg-6
                    input.form-control(name="stedkode", placeholder="Sted", disabled, data-bind="value: stedkode")
                    input(type="hidden", name="stednavn", data-bind="value: stednavn")
            div.form-group
                label.control-label.col-lg-3(for="delregnskabkode") Delregnskab
                div.col-lg-6
                    input.form-control(name="delregnskabkode", placeholder="Delregnskab", disabled, data-bind="value: delregnskabkode")
                    input(type="hidden", name="delregnskabnavn", data-bind="value: delregnskabnavn")
            div.form-group
                label.control-label.col-lg-3(for="felt1") Værdi
                div.col-lg-2
                    input.form-control(name="felt1", type="number", value="0", placeholder="Værdi")
                    input.form-control(name="felt2", type="hidden", value="0")
                    input.form-control(name="felt3", type="hidden", value="0")
                    input.form-control(name="felt4", type="hidden", value="0")
            div.form-group
                label.control-label.col-lg-3(for="kommentar") Kommentar
                div.col-lg-6
                    textarea.form-control(name="kommentar", placeholder="Kommentar")
            footer.form-group
                div.col-lg-offset-3.col-lg-6
                    div.btn-group.btn-group-justified
                        div.btn-group
                            button.btn.btn-success(type="submit") Send
                        div.btn-group
                            button.btn.btn-warning(type="reset") Annuller
                        div.btn-group
                            button.btn.btn-info(type="submit", formaction="/registrering/kladde") Gem som kladde
                        div.btn-group
                            button.btn.btn-default#skabelonbtn(type="button") Gem som skabelon
            div.form-group#skabelonfrm
                label.control-label.col-lg-3 Skabelon
                div.col-lg-6
                    div.input-group
                        input.form-control(type="text", name="skabelon")
                        span.input-group-btn
                            button.btn.btn-default(type="submit", formaction="/registrering/skabelon") Gem
block scripts
    script.
        $(function () {
            var touch = Modernizr.touch,
                temp = {},
                vm = {
                    jobkategorier: ko.observableArray([]),
                    jobkategorikode: ko.observable(),
                    jobkategorinavn: ko.observable(),
                    enheder: ko.observableArray([]),
                    enhedkode: ko.observable(),
                    enhednavn: ko.observable(),
                    projekter: ko.observableArray([]),
                    projektkode: ko.observable(),
                    projektnavn: ko.observable(),
                    aktiviteter: ko.observableArray([]),
                    aktivitetkode: ko.observable(),
                    aktivitetnavn: ko.observable(),
                    lkos: ko.observableArray([]),
                    lkokode: ko.observable(),
                    lkonavn: ko.observable(),
                    skabeloner: ko.observableArray([]),
                    kladder: ko.observableArray([]),
                    stedkode: ko.observable(),
                    stednavn: ko.observable(),
                    delregnskabkode: ko.observable(),
                    delregnskabnavn: ko.observable()
                };
                vm.jobkategorikode.subscribe(function (jobkategori) {
                    $.get("/registrering/jobkategori/" + jobkategori, function (organizations) {
                        vm.enheder(organizations);
                    });
                });
                vm.enhedkode.subscribe(function (enhed) {
                    console.log(enhed);
                });
            ko.applyBindings(vm);
            if (!touch) {
                $("select.form-control").select2({ allowClear: true });
            }
            $.get("/registrering/cpr", function (jobCategories) {
                vm.jobkategorier(jobCategories);
            });
            $jobkategori_.on("change", function () {
                var jobkategori = $(this).val();
                $jobkategori.val(jobkategori + "_" + this.options[this.selectedIndex].text);
                $enhed_.attr("disabled", "disabled").find("option").remove();
                $lko_.attr("disabled", "disabled").find("option").remove();
                $.get("/registrering/jobkategori/" + jobkategori, function (data) {
                    data.organizations.forEach(function (organization) {
                        $enhed_.append($("<option></option>").attr("value", organization.id).text(organization.text));
                    });
                    if (data.organizations.length === 1) {
                        touch ? $enhed_.val(data.organizations[0].id) : $enhed_.select2("val", data.organizations[0].id);
                        $enhed_.trigger("change");
                    } else if (temp.enhed) {
                        $enhed_.val(temp.enhed.split("_")[0]);
                        $enhed_.trigger("change");
                    }
                    $enhed_.removeAttr("disabled");
                    data.lkos.forEach(function (lko) {
                        $lko_.append($("<option></option>").attr("value", lko.id).text(lko.text));
                    });
                    if (data.lkos.length === 1) {
                        touch ? $lko_.val(data.lkos[0].id) : $lko_.select2("val", data.lkos[0].id);
                        $lko_.trigger("change");
                    } else if (temp.lko) {
                        $lko_.val(temp.lko.split("_")[0]);
                        $lko_.trigger("change");
                    }
                    $lko_.removeAttr("disabled");
                });
            });
            $enhed_.on("change", function () {
                var enhed = $(this).val();
                $enhed.val(enhed + "_" + this.options[this.selectedIndex].text);
                $sted_.attr("disabled", "disabled").find("option").remove();
                $.get("/registrering/enhed/" + enhed, function (locations) {
                    locations.forEach(function (location) {
                        $sted_.append($("<option></option>").attr("value", location.id).text(location.text));
                    });
                    if (locations.length === 1) {
                        touch ? $sted_.val(locations[0].id) : $sted_.select2("val", locations[0].id);
                        $sted_.trigger("change");
                    } else if (temp.sted) {
                        $sted_.val(temp.sted.split("_")[0]);
                        $sted_.trigger("change");
                    }
                    $sted_.removeAttr("disabled");
                });
            });
            $sted_.on("change", function () {
                var sted = $(this).val();
                $sted.val(sted + "_" + this.options[this.selectedIndex].text);
                $projekt_.attr("disabled", "disabled").find("option").remove();
                $aktivitet_.attr("disabled", "disabled").find("option").remove();
                $delregnskab_.attr("disabled", "disabled").find("option").remove();
                $.get("/registrering/sted/" + sted, function (data) {
                    data.projects.forEach(function (project) {
                        $projekt_.append($("<option></option>").attr("value", project.id).text(project.text));
                    });
                    if (data.projects.length === 1) {
                        touch ? $projekt_.val(data.projects[0].id) : $projekt_.select2("val", data.projects[0].id);
                        $projekt_.trigger("change");
                    } else if (temp.projekt) {
                        $projekt_.val(temp.projekt.split("_")[0]);
                        $projekt_.trigger("change");
                    }
                    $projekt_.removeAttr("disabled");
                    data.activities.forEach(function (activity) {
                        $aktivitet_.append($("<option></option>").attr("value", activity.id).text(activity.text));
                    });
                    if (data.activities.length === 1) {
                        touch ? $aktivitet_.val(data.activities[0].id) : $aktivitet_.select2("val", data.activities[0].id);
                        $aktivitet_.trigger("change");
                    } else if (temp.aktivitet) {
                        $aktivitet_.val(temp.aktivitet.split("_")[0]);
                        $aktivitet_.trigger("change");
                    }
                    $aktivitet_.removeAttr("disabled");
                });
            });
            $projekt_.on("change", function () {
                var projekt = $(this).val();
                $projekt.val(projekt + "_" + this.options[this.selectedIndex].text);
                $delregnskab.val("");
                $delregnskab_.attr("disabled", "disabled").find("option").remove();
                if ($aktivitet_.val()) {
                    loadAccounts();
                }
            });
            $aktivitet_.on("change", function () {
                var aktivitet = $(this).val();
                $aktivitet.val(aktivitet + "_" + this.options[this.selectedIndex].text);
                $delregnskab.val("");
                $delregnskab_.attr("disabled", "disabled").find("option").remove();
                if ($projekt_.val()) {
                    loadAccounts();
                }
            });
            $delregnskab_.on("change", function () {
                var delregnskab = $(this).val();
                $delregnskab.val(delregnskab + "_" + this.options[this.selectedIndex].text);
            });
            $lko_.on("change", function () {
                var lko = $(this).val();
                $lko.val(lko + "_" + this.options[this.selectedIndex].text);
            });
            $skabelonbtn.on("click", function() {
                $skabelonfrm.toggle();
            });
            $("aside").on("click", "a", function() {
                $("aside a.active").removeClass("active");
                $(this).addClass("active");
                var skabelon = $(this).data("skabelon"),
                    kladde = $(this).data("kladde");
                temp = skabelon || kladde;
                console.log(temp);
                reset();
                if (temp.jobkategori) {
                    $jobkategori_.val(temp.jobkategori.split("_")[0]);
                    $jobkategori_.trigger("change");
                }
                $dato.val(temp.dato || "");
                $felt1.val(temp.felt1 || 0);
                $felt2.val(temp.felt2 || 0);
                $felt3.val(temp.felt3 || 0);
                $felt4.val(temp.felt4 || 0);
            });
            if ($jobkategori_.val()) {
                if ($enhed_.val()) {
                    $enhed_.trigger("change");
                    $lko_.trigger("change");
                    var jobkategori = document.getElementById("jobkategori");
                    $jobkategori.val($jobkategori_.val() + "_" + jobkategori.options[jobkategori.selectedIndex].text);
                } else {
                    $jobkategori_.trigger("change");
                }
            }
            function loadAccounts() {
                if ($aktivitet_.val() && $projekt_.val()) {
                    $.get("/registrering/delregnskab/" + $projekt_.val() + "/" + $aktivitet_.val(), function (accounts) {
                        accounts.forEach(function (account) {
                            $delregnskab_.append($("<option></option>").attr("value", account.id).text(account.text));
                        });
                        if (accounts.length === 1) {
                            touch ? $delregnskab_.val(accounts[0].id) : $delregnskab_.select2("val", accounts[0].id);
                            $delregnskab_.trigger("change");
                        } else if (temp.delregnskab) {
                            $delregnskab_.val(temp.delregnskab.split("_")[0]);
                            $delregnskab_.trigger("change");
                        }
                        $delregnskab_.removeAttr("disabled");
                    });
                }
            }
            function reset() {
                $("input").val("");
                $("select[id!='jobkategori']").each(function() {
                    touch ? $(this).val("") : $(this).select2("val", "");
                }).attr("disabled", "disabled").find("option").remove();
                touch ? $jobkategori_.val("") : $jobkategori_.select2("val", "");
            }
        });